@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* ---- Common styles ---- */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2,
input {
  color: teal;
  /* color: #004b23; */
}
i{
  pointer-events: none;
}
/* ---- Utility classes --- */
.flex {
  display: flex;
  align-items: center;
}
.column {
  flex-direction: column;
}
.between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
.b-bottom {
  border-bottom: solid;
  border-color: rgb(235, 235, 235);
  border-width: 2px;
}

.container {
  padding: 0 0 16px;
  max-width: 700px;
  margin: 16px auto;
  background-color: #d0d074;
}
.hide {
  display: none;
}
/* ---- Header ---- */
header {
  padding: 16px 0;
  margin: 0 16px;
}
#city-search {
  background-color: #d0d074;
  border: none;
  outline: none;
  border-bottom: 2px solid teal;
  padding: 4px;
}
#search {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: gray;
}
/* ---- Navigation ---- */

.menu {
  list-style: none;
  padding: 0 16px;
  background-color: #333333;
  color: #cccccc;
}

.menu li {
  padding: 8px;
  cursor: pointer;
  border-left: 1px solid #cccccc;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
}
.menu li:last-child {
  border-right: 1px solid #cccccc;
}
.menu li:hover {
  background-color: #555555;
  color: #ffffff;
}
.info-container {
  background-color: white;
  padding: 16px;
  gap: 16px;
}

.menu li.active {
  background-color: teal;
  color: #d0d074;/
}
.info-container {
  margin: 16px;
}
.info-container:last-child {
  margin-bottom: 0;
}
.current-picture,
#current-description {
  text-align: center;
}
.weather-description,
#current-temp,
.add-info {
  width: 30%;
}
#current-temp {
  text-align: center;
  font-size: 3em;
}
.add-info {
  gap: 8px;
  text-align: left;
}
.add-info p {
  display: flex;
  width: 100%;
}
.add-info p span {
  display: block;
  width: 100%;
  margin-left: 10px;
}
/* --- Forecast block --- */

.forecast-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  align-content: space-between;
}
.forecast-title {
  display: flex; 
  flex-direction: column;
  text-align: left;
  gap: 6px;
}
.forecast-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.forecast-title > p,
.forecast-item > p {
  padding: 5px 0;
}
.pic {
  min-height: 100px;
}
.pic img {
  width: 100%;
  object-fit: contain;
}
.time {
  min-height: 50px;
}

/* ---- Nearby places block --- */
.nearby-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.nearby-item {
  padding: 8px;
  background-color: #d0d074;
  cursor: pointer;
}
.nearby-item > p {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nearby-item img {
  max-width: 40%;
}
.nearby-item p:first-child {
  /* flex: 1 1 40%; */
  word-break: break-all;
  justify-content: flex-start;
  width: 40%;
}
.nearby-item p:last-child() {
  width: 60%;
}
/* --- Five days --- */
.five-days-block{
  align-items: stretch;
  background-color: #f7f7f7;
}
#five-days{
  padding: 0;
}
.active-day{
  background-color: rgb(255,253,253);

}
.day-item{
  cursor: pointer;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 6px;
  border-right: 4px solid #d0d074;
  text-align: center;
}

.day-item-title {
  min-height: 60px;
}
.five-days-block .day-item:last-of-type{
  border-right: none;
}
.day-item p:last-of-type{
  font-size: 0.9em;
}

.active-item{
  background-color: #e2e2c4;;
}

.error-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  gap: 16px;
  font-size: 1.5rem;
  font-weight: 700;
  color: teal;
}
.error-container h2 {
  color: tomato;
  font-size: 32px;
  text-transform: uppercase;
}
.error-container .error-description {
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* ---- Media queries ---- */
@media screen and (max-width: 700px) {
  .container {
    margin: 0;
  }
  .header {
    font-size: 16px;
  }
  .title-block {
    font-size: 14px;
  }
  .weather-block,
  .forecast-block,
  .five-days-block,
  .nearby-block {
    font-size: 14px;
  }
  .add-info {
    width: 41%;
  }
  .day-item {
    padding: 3px;
    font-size: 13.5px;
  }
  
  .forecast-item .description{
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    font-size: 14px;
  }
  .search-block {
    display: flex;
    justify-content: flex-end;
  }
  .search-block input{
    width: 90%;
  }
  .search-block button{
    width: 10%;
  }
  .title-block,
  .weather-block,
  .forecast-block,
  .five-days-block {
    font-size: 12px;
  }
  .key{
    display: none;
  }
  .val{
    font-weight: 600;
  }
  .max{
    color: tomato;
    /* color: #6b0000; */
  }
  .min {
    color: teal;
  }
  .pic img {
    min-height: 60px;
  }
}

@media screen and (max-width: 420px){
  .header{
    font-size: 11px;
  }
  .title-block,
  .weather-block,
  .forecast-block {
    font-size: 10px;
  }
}
